services:
  api:
    build: .
    container_name: api-collectors
    ports:
      - "3040:3040"
    environment:
      - NODE_ENV=production
      - TZ=America/Lima
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge